@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Variables */
:root {
	--nav-width: 92px;

	--red: #d40511;
	--light-gray: #363434;
	--dark-gray: rgb(31, 31, 31);
	--white: #FFF;

	--body-font: 'Poppins', sans-serif;
	--normal-font-size: 1rem;
	--small-font-size: .875rem;

	--z-fixed: 100;
}

/* Override Bootstrap defaults */
.container {
	width: 80% !important;
}

.bg-dark {
	background-color: var(--light-gray) !important;
}

.btn-primary {
	background-color: var(--red) !important;
}

.card-img-top {
	height: 200px !important;
	object-fit: contain !important;
}

/* Custom CSS */
.PageTitle {
	padding-top: 100px;
	padding-bottom: 25px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

body {
	background: var(--dark-gray);
	color: #fff;
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 140%;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	width: 100%;
}

.custom-table td {
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-buttons {
	padding-top: 15px;
	padding-bottom: 15px;
}

.dark-modal-content {
	background-color: var(--light-gray);
}

.dark-modal-content select,
.dark-modal-content input[type="text"],
.dark-modal-content input[type="datetime-local"]{
	background-color: var(--dark-gray);
	border: 0;
	color: var(--white);
}

/* For select dropdowns */
.dark-modal-content select option {
	background-color: var(--dark-gray);
	color: var(--white);
}

/* For multi-select dropdowns */
.dark-modal-content select[multiple] option {
	background-color: var(--dark-gray);
	color: var(--white);
}

/* Ensure the select box remains dark when clicked */
.dark-modal-content select:focus {
	background-color: var(--dark-gray);
	color: var(--white);
}

/* Ensure the multi-select dropdown remains dark when selecting */
.dark-modal-content select[multiple]:focus {
	background-color: var(--dark-gray);
	color: var(--white);
}

.dark-modal-content select[multiple] option:checked {
	background-color: var(--light-gray);
	color: var(--white);
}

.modal-close-white {
	filter: invert(1); /* Invert the color to make it white */
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	filter: invert(1); /* Invert the color to make it white */
}

input[type="datetime-local"]::-ms-clear {
	display: none; /* Hide the clear button in Internet Explorer */
}